*,ul, ol,dl{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: 'PT Sans Regular';
	background:url('../images/body-bg.jpg');
}

header{
	background:url('../images/header-bg.jpg') repeat;
	margin-bottom: 30px;

}
@media (min-width: 1200px){
.container  {
    max-width: 980px;
}

}
header .header-bottom{
	height: 47px;
	background-image: url('../images/headerbottom-bg.jpg');
	border-bottom: 5px solid #b2b2b1;
	background-repeat: no-repeat;
	background-size: cover;
}
header .logo a{
	display: block;
	padding: 5px 0 12px 30px;
	font-size: 28px;
	color: #fff; 
	background-color: #f26c4f;
	text-decoration: none;
}

header .logo a sup{
	color: #f5937e;
}
header nav{
	height: 100%;
}
header nav ul{
	display: flex;
	list-style: none;
	height: 100%;
	align-items: center;
}

header nav ul li a{
	color: #fff;
	font-size: 14px;
	font-family: 'PT Sans Bold';
	text-decoration: none;
	transition: .3s all ease;
	text-transform: uppercase;
}
header nav ul li a:hover{
	text-decoration: none;
	color: #f26c4f;
}



/********    SECTION    ********/


.articles .article-item .article-image{
	background-color: #fff;
	padding: 6px;
	border: 1px solid #d7d7d7;
	position: relative;
	margin-bottom: 10px;
}
.articles .article-item .article-image .social{
	position: absolute;
	list-style: none;
	left:55px;
	bottom: 30px;
}
.articles .article-item .article-image ul li{
	margin-top: 8px;
}
.articles .article-item .article-image>a>img{
	width: 100%;
	border: 1px solid #d7d7d7;
}
.articles .article-item .article-text{
	background-color: #fff;
	padding: 40px 35px 50px 35px;
	border: 1px solid #d7d7d7;
	font-family: 'PT Sans Regular';
	position: relative;
}
.article-item .article-text h3{
	margin-bottom: 10px;
}
.article-item .article-text h3 a{
	color: #3a3e3f;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	

}
.article-item .article-text .post-date{
	color: #aeaeae;
	font-size:12px;
	font-family: 'PT Sans Italic';
	margin-bottom: 20px;
}
.article-item .article-text .sub-title{
	color:#f26c4f ;
	font-size:15px ;
	margin-bottom: 20px;
}

.article-item .article-text .anons{
	color: #959595;
	font-size: 13px;
	margin-bottom: 0;
}
.article-item .article-text .triangle img{
	position: absolute;
	top: -16px;
	left: 60px;
}
.articles .article-item {
	margin-bottom: 30px;
}

.widgets{
	background-color: #fff;
	padding: 45px 35px 40px 35px;
	margin-bottom: 32px;
}

.widgets .widget-item .widget-title{
	color: #2e2d2d;
	font-size: 16px;
	font-family: 'PT Sans Bold';
	margin-bottom: 23px;
}
.widgets .widget-item{
	margin-bottom: 30px;
}
.widgets .widget-item .widget-body ul li a{
	color: #6f6f6f;
	font-size: 15px;
	font-family: 'PT Sans Regular';
	padding: 10px 0;
	text-decoration: none;
}
.widgets .widget-item .widget-body ul li a:hover{
	color: #f26c4f;
}

.widgets .widget-item .widget-body ul li{
	border-bottom:1px dotted #cecdcd;
	list-style: url('../images/arrow.png');
	list-style-position: inside;
}

.widgets .widget-item .widget-body ul li:hover{
	list-style: url('../images/arrow-hover.png');
	list-style-position: inside;
}

.widgets .posts h3{
	color: #3a3e3f;
	font-family: 'PT Sans Bold';
	font-size: 16px;
}
.widgets .posts .posts-body ul li{
	list-style: url('../images/post-icon.png');
}
.widgets .posts .posts-body ul .post-item{
	color: #3a3a3a;
	font-size: 13px;
	font-family: 'PT Sans Bold Italic';
}
.widgets .posts .posts-body ul .date{
	color: #7e7e7e;
	font-family: 'PT Sans Bold Italic';
	font-size: 12px;
}
aside .add img{
	border: 1px solid #b8b8b8;
	width: 100%;
}
aside  .add .anons{
	padding: 15px;
}
.articles .page{
	padding: 30px 40px;
}
.articles .page ul {
	display: flex;
	list-style: none;
}
.articles .page ul li a{
	font-size: 14px;
	color: #3a3e3f;
	padding: 5px 7px;
	font-family: 'PT Sans Regular';
	text-decoration: none;
}
.articles .page ul li a:hover{
	background-color: #f26c4f;
	color: #fff;
	font-weight: bold;
}

/**** SECTION END  ****/




/**** FOOTER  ****/


footer{
	background-color: #343434;
}
footer .container{
	padding: 50px 0;
	font-family: 'PT Sans Regular';
}
footer .container .row .footer-p{
	font-size: 12px;
	color: #d6d6d6;
	line-height: 20px;
}
footer .container .row .footer-here{
	font-size: 12px;
	color: #949494;	
}
footer .container .row ul{
	display: flex;
}
footer .container .row ul li {
	list-style: none;
	margin-right: 13px;
}

/**** FOOTER END  ****/





/**** ADAPTIVNIY  ****/

@media (max-width: 480px){
	.container{
		width: 100%;
	}
	header nav ul li a{
		font-size: 10px;
	}
	.article-image .social img{
		width: 25px;
	}
	.articles .article-item .article-image .social{
		left: 30px;
    	bottom: 25px;
	}
	.article-item .article-text .triangle img {
		left: 30px;
	}
	.article-item .article-text h3 a{
		font-size: 15px;
	}
	.article-item .article-text .anons{
		font-size: 12px;
	}
	.article-item .article-text .sub-title {
		font-size: 12px;
		margin-bottom: 13px;
	}
	.article-item .article-text .post-date{
		margin-bottom: 12px;
		font-size: 11px;
	}
	.articles .article-item .article-text{
		padding: 30px 30px 40px 30px;
	}
	main .add .anons{
		margin-bottom: 30px;
		padding: 15px;
	}
	footer .container{
		padding: 30px;
	}
	footer .container .row ul {
    display: flex;
    justify-content: space-around;
}
footer .container .row{
	text-align: center;
}
}

@media (max-width: 768px){
	header nav ul li a{
		font-size: 12px;
	}
	.widgets .widget-item .widget-body ul li a{
		font-size: 13px;
	}
	aside .add img {
		width: 100%;
	}
	img{
		width: 30px;
	}
	.mr-auto, .mx-auto{
		margin-right: 0;
	}
}
@media (max-width: 320px){
	header nav ul li a{
		font-size: 10px;
	}
}

@media (max-width: 576px){
	footer .container .row{
	text-align: center;
}

footer .container .col-md-3 ul{ 
	justify-content: center;
}
footer .container .col-md-3 ul li {
	margin: 0 8%;
}
}
/**** ADAPTIVNIY END  ****/